@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/webpack/css/index.css" />
        <title>My landing</title>
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Awesome Landing</h1>
                <h2>This landing was written in ASP.NET MVC 6 and TypeScript</h2>
                <a class="btn">Download Project Now</a>
                <div class="submenu">
                    <a href="https://github.com/Bumazhnik/LandingASP" target="_blank">Link 1</a>
                </div>
            </div>
        </header>
        <section class="features">
            <div class="container">
                <div class="feature">
                    <img src="" alt=""/>
                    <p>Simple</p>
                </div>
                <div class="feature">
                    <img src="" alt=""/>
                    <p>Easy to use</p>
                </div>
                <div class="feature">
                    <img src="" alt=""/>
                    <p>Responsible to different screen sizes</p>
                </div>
            </div>
        </section>
        <section class="quote">
            <div class="carousel">
                <div class="carousel__item carousel__item--selected">
                    <blockquote class="container">
                        <p>"Very good!"</p>
                        <cite>Johnny</cite>
                    </blockquote>
                </div>
                <div class="carousel__item">
                    <blockquote class="container">
                        <p>"Very easy to understand and to modify"</p>
                        <cite>Joe</cite>
                    </blockquote>
                </div>
                <div class="carousel__item">
                    <blockquote class="container">
                        <p>"Impressive!"</p>
                        <cite>John</cite>
                    </blockquote>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
                <p>© All rights reserved.</p>
            </div>
        </footer>
        <script src="~/webpack/index.js"></script>
    </body>
</html>